@font-face{
	font-family: autor;
	src: url(fonts/autoradiographicrg.ttf);
}

#wrapper {
	position:relative;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

body{
	background: white;
	margin: 0;
	padding: 0;
}

.header{
	position:relative;;
	width: 100%;
	height: 60px;
	background-color: #E74C3C;
	box-shadow: 0px 3px 15px #222;
}

div.title{
	position:relative;
	margin-bottom: 10px;
	font-family: autor;
	font-size: 48px;
	color: #474036;
}

div.subtitle{
	position:relative;
	margin-top: 0px;
	margin-bottom: 10px;
	font-family: autor;
	font-size: 20px;
	color: #474036;
}

div.name{
	display: inline;
	position: absolute;
	top: 15px;
	left: 50px;
	font-family: autor;
	font-size: 30px;
	color: white;
}

div.center{
	position: absolute;
	top: 17px;
	right: 150px;
}

input.tb{
	width:150px;
	height:25px;
	border-radius:3px;
	border: 1px solid #DBDBDB;
	padding-left: 5px;
}

input.tb1{
	width:150px;
	height:30px;
	border-radius:3px;
	border: 1px solid #DBDBDB;
	padding-left: 5px;
}

input.tb2{
	width:305px;
	height:30px;
	border-radius:3px;
	border: 1px solid #DBDBDB;
	padding-left: 5px;
}


input.sub{
	position: absolute;
	right: 0px;
	top: 3px;
	width:40px;
	height:25px;
	background-color: #474036;
	border-radius:0px 3px 3px 0px;
	border: 1px solid #474036;
	font-family: autor;
	color: white;
}

input.signupnow{
	width:150px;
	height:30px;
	background-color: #474036;
	border-radius: 3px;
	border: 1px solid #474036;
	font-family: autor;
	color: white;
}

/* hover effect for mouse */
input.signupnow:hover {
	cursor: pointer;
	cursor: hand;
}

table.subscribe{
	margin-top: 20px;
}

.default{
	padding-top: 20px;
	font-family: arial;
	font-size: 10px;
	color: #474036;
}

div.logid{
	position: relative;
	font-family: arial;
	font-size: 12px;
	color: rgb(237,28,36);
}

div.loggedtxt{
	position: relative;
    margin-right:auto;
    width:730px;
	text-align : justify;
	top: 200px;
	left: 150px;
	margin-left: 10px;
}

div.tpos{
	position:relative;
	left:30px;
}

div.pic{
	position:absolute;
	right:60px;
	top:100px;
}

.phone {
	max-width: 200px;
	float: right;
	top: 0;
	overflow: hidden;
	margin-right: 15px;
}

.form {
	width: 320px;
	float: left;
	top: 0;
	overflow: hidden;
	margin-left: 15px;
}

.formnpict {
	position: fixed;
	top: 50%;
	left: 75%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	background-color: white;
	width: 600px;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0px 3px 15px #222;
}

.commit_history_box {
	position: fixed;
	bottom: 10%;
	left: 75%;
	transform: translate(-50%, +50%);
	background-color: #2d2d2b;
	width: 600px;
	padding: 7px 15px 7px 15px;
	border-radius: 5px;
	box-shadow: 0px 3px 15px #1c1817;
	font-family: monospace;
}

.commit_history_label {
	color: #2d2d2b;
	background-color: #ff8a7e;
	font-weight: bold;
}

.commit_history_text {
	color: whitesmoke;
	font-weight: lighter;
}


