@font-face{
    font-family: calibri;
    src: url(../fonts/CALIBRIL.TTF);
}

body, html {
    margin: 0;
    padding: 0;
}

.friend_thumb {
    height: 50px;
    width: 50px;
    border-radius: 2px;
}

.friend_thumb:hover {
    opacity: 0.7;
}

.friend_text {
    font-family: calibri;
}